@model IEnumerable<LeaseFilms.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div>
    @Html.ActionLink("NEW MOVIE", "New", "Movies", null, new { @class = "btn btn-primary" })
</div>
<br />
@if (!Model.Any())
{
    <p>No movie in stock.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>

        }
    </table>
}

